admins: # 管理员列表 (可通过 https://t.me/getletbot 获取 ID)
  - 123456
cookies: # EHentai cookies, F12控制台中获取即可
  - ipb_session_id=0bxxxxxxxxxxxxxxx05a807b; ipb_member_id=69xxx; ipb_pass_hash=88xxxxxxx41536d;
    sk=buxxxxxxmvxal; event=1xxxxx79
destroy_regularly: 0 # 定时销毁下载链接, 单位: 秒, 0为不销毁
disable: false # 是否禁用解析功能
download: true # 是否直接下载
download_admin_only: true # 仅限管理员启用直接下载

request_limit: 10 # 速率限制: 每3600秒内可解析10次, 每个用户每天最多请求50次
time_limit: 3600
daily_request_limit: 50

total_request_limit: 100 # Bot每日总请求限制
whitelist: # 白名单用户, 不受任何限制 (可通过 https://t.me/getletbot 获取 ID)
  - 123456
blacklist:
  - 123456 # 黑名单用户, 不允许使用解析功能 (可通过 https://t.me/getletbot 获取 ID)

experimental:
  estimate_usage: false # 是否预估损耗
  tg_logger:  # 仅在预估损耗启用的条件下有效->将解析的信息发送到频道(-100+id),超级群组(同频道),普通群组(直接用-+id),个人(对机器人使用/getid) || 在需要的地方 /getid(bot要有消息权限在频道中) ;; 或者 Day Cleanup 有效
  day_cleanup: false # 仅在配置了 tg_logger 的条件下有效。每天结算一次 GP 与 Quota Usage.
  member_group: # 同 tg_logger, 传入频道/群组/超级群组的 chatid。传个人的这个API必报错。
  credit: "" # 在每日 Summary 里面可以自动鸣谢
  confirm_estimate_download: true # 使用中间界面确认是否解析直链
  single_quota_limit: 0 # 设置为大于0的数字以启用单次 Quota 限制，白名单与 Admin 可以豁免。单位 bytes
  single_gp_limit: 0 # 设置为大于0的数字以启用单次 GP 限制，白名单与 Admin 可以豁免。单位 GP
  alist_upload_status = false # 启用下载后，自动上传下载的文件到 alist (仅允许 admin)
  alist_server: "" # 配置 alist 服务器 ip
  alist_upload_path = "" # 配置 alist 上传目录
  alist_username = "" # 配置 alist 用户名
  alist_password = "" # 配置 alist 密码 (用于获取 alist 临时 token)